{% extends "layout.html" %}
{% block image %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="home">
    <ul style="display: block;
    text-align: center;
  margin-left: auto;
  margin-right: auto;">
        <a href="/image" style="display: block;text-decoration: none;background-color: black;width: 15%; text-align: center;margin-left: auto;margin-right: auto;color: coral;border-radius:20px;"><h1>IMAGE</h1></a><br>
        <a href="/vedio" style="display: block;text-decoration: none;background-color: black;width: 15%;text-align: center;margin-left: auto;margin-right: auto;color: coral;border-radius:20px;"><h1>VIDEO</h1></a>
    </ul>
</div>
{% endblock%}