{% extends "layout.html" %}
{% block image %}

<div class='tech' style="font-family: Comic sans MS;color: #f0300a;";>
    <ol>
        <li><h1>Tensorflow.</h1></li>
        <li><h1>MobileNet_V2</h1></li>
        <li><h1>Flask.</h1></li>
        <li><h1>Jinja Templates.</h1></li>
        <li><h1>HTML5.<h1></li>
        <li><h1>CSS.</h1></li>
        <li><h2 style="text-decoration: underline; font-weight: bold;">Library & modules Used :</h2></li>
        <ul>
            <li><h3>OpenCv.</h3></li>
            <li><h3>Numpy.</h3></li>
            <li><h3>Tensorflow Keras.</h3></li>
        </ul>

    </ol>
    
    
</div>
{% endblock%}